[Unit]
Description=Run rs-backup-run every two hours

[Timer]
# OnCalendar=hourly
# OnCalendar=*-*-* *:00:00
OnCalendar=*-*-* 0,2,4,6,8,10,12,14,16,18,20,22:00:00
Persistent=true
# OnBootSec=15min
# OnUnitActiveSec=2hours
Unit=rs-backup-run.service

[Install]
WantedBy=multi-user.target
